body {
    background-color: lightgrey;
    font-family: Arial;
    font-size: 17px;
    /* padding: 8px; */
    background-image: url("img1.jpg");
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-align: center;
  }
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  .boxedcontainer {
    width: 300px;
    border: 1px lightgreen;
    padding: 50px;
    margin: 20px;
    text-align: center;
    position: relative;
    text-align: center;
    border: 10px solid green ;
    margin-top: 50px;
    margin-left: 600px;
    background-color: #f2f2f2;
  }
  
  img.displayed {
      display: block;
      margin-left: auto;
      margin-right: auto 
  }
  p {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Serif",serif;
  }
  h1 {
  text-align: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Serif",serif;
  }
  .back{
    float: right;
    align-items: flex-start;
    background-color: white;
    color:black;
    height: 10%;
    width:15%;
    display: inline;
    border-radius: 15px;
    padding: 15px 25px;
    
  }
  html,body{
    overflow-x: hidden;
    height: 100%;
}   

 .header{
    background: black;
    width:100%;
    height: 35px;
    position: fixed;
    z-index: 10;
} 
.sidebar-toogle{
    width :22px;
    height: 22px;
    position:absolute;
    z-index: 0;
    left:0px;
    top:0px;
    cursor: pointer;
    background: white;
}


#sidebar{
 height: 100%;
 position: fixed;
 left:0;
 top:0;
 width:250px;
 margin-top: 35px;
 margin-left: 0;
 background: black;
 transform: translateX(-250px);
 transition: transform 250ms ease-in-out;
}

#opensidebarMenu:checked ~ #sidebar{
    transform: translateX(0px);

}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    color:white;
    border-bottom: 1px solid white;
}
.menu li a{
    color:white;
    display: block;
    text-decoration: none;
    padding: 20px;
}
footer{
  bottom: 0;
  position: absolute;
  background: black;
  color: white;
  padding: 9px 20px;
  left: 0;
  right: 0;    
}


.center{
  text-align: center;
}